d {
	margin: 0;
	padding: 0;
	border: 0;
}
h1 {
	text-align:center;
	font-size: 50px;
}
body  {
	background-image: url(mujica-de-peixe-700x438.jpg);
	font-size: 15px;
	background-size: cover;
}
	
.sobre {
    width: 500px;
    height: 200px;
    position: relative;
	left: 150px;
	top: 125px;
	background-color:#CCD1D1;
	border-radius:20px ;
}

.sobre p {
    color:#34495E ;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
    word-spacing: 10px;
    letter-spacing: 1px;
    padding: 5px;
	
}	
